/* styles.css */
* {
    font-family: Arial, Arial, Helvetica, sans-serif, serif, DotGothic16, Tiny5;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Yuji Syuku*/
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 10rem;
    background-color: black;
    color: black;
    font-size:5rem;
    overflow: hidden;
    background-image: url(../img/cloud.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    margin: 10% 4rem 0 4rem
}

div {
    transition-property: transform;
    transition-duration: 3s;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Tiny5", DotGothic16, sans-serif;
}

a {
    font-family: "Tiny5", DotGothic16, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
.last {
    padding-bottom: 1rem;
    border-bottom: 5px solid rgb(127, 168, 235);
}


.last:hover {
    animation-name: growAndGlow;
    animation-duration: 10s;
}

@keyframes growAndGlow {
    from {
        color: whitesmoke;
    }

    50% {
        color: rgb(127, 168, 235);
        transform: skewX(30deg);
    }

    to {
        color: rgb(127, 168, 235);
        transform: skewX(30deg);
    }
}
